@tailwind base;
@tailwind components;
@tailwind utilities;

/* Background Aurora Gradient Animation */
@keyframes gradientFlow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.bg-gradient-radial {
  background: radial-gradient(circle at 30% 30%, #1d3557, #457b9d, #1d3557);
  background-size: 300% 300%;
}

.animate-gradient {
  animation: gradientFlow 15s ease infinite;
}

/* Fade in */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 2s ease-in-out;
}
